<?xml version="1.0" encoding="utf-8" ?>
<consulplugin enabled="true"
              servicename="ConsulHelperDemo"
              servicetags="first,second"
              serviceport = "0"
              heartbreak="15"
              refreshbreak="15"
              httpcheck=""
              tcpcheck="">
  <!--enabled:是否启用-->
  <!--servicename:服务名称参数（同服务多负载相同，不同服务不可相同）-->
  <!--servicetags:服务标签参数，可用于服务分级，可多项，逗号(,)分隔-->
  <!--serviceport:服务端口-->
  <!--heartbreak:心跳周期参数（秒）-->
  <!--refreshbreak:刷新周期参数（秒），刷新服务状态、键值事件，应为心跳周期整数倍-->
  <!--httpcheck:心跳检查HTTP接口，返回200状态即可，被动检查接口，不提供被动检查接口将按心跳周期主动向Consul提交心跳请求-->
  <!--tcpcheck:心跳检查Tcp接口，连接成功建立即可，被动检查接口，不提供被动检查接口将按心跳周期主动向Consul提交心跳请求-->
  <!--服务订阅配置-->
  <services>
    <!--name:服务名称参数（同服务多负载相同，不同服务不可相同）-->
    <!--servicetags:服务标签参数，可用于服务分级，可多项，逗号(,)分隔，空串表示不做限制-->

    <!--esgrpc-->
    <service name="esgrpc"
             servicetags="grpc"></service>

    <!--kibana-->
    <service name="kibana"
             servicetags="http"></service>
    
    <!--esthrift-->
    <service name="esthrift"
             servicetags="thrift"></service>

    <!--wcfdemo-->
    <service name="wcfdemo"
             servicetags="wcf"></service>

  </services>
  <!--分布式缓存配置，缓存使用时非必须，但可以设定默认值-->
  <keyvalues>
    <!--name:分布式缓存键-->
    <!--value:分布式缓存默认值，可设定默认值-->

    <!--test-->
    <keyValue name="F:Config:ConsulHelperDemo:test"
              value="test"></keyValue>

    <!--esgrpc-->
    <keyValue name="F:Config:ConsulHelperDemo:esgrpc:grpc:MaxActive"
          value="100"></keyValue>
    <keyValue name="F:Config:ConsulHelperDemo:esgrpc:grpc:MinIdle"
      value="2"></keyValue>
    <keyValue name="F:Config:ConsulHelperDemo:esgrpc:grpc:MaxIdle"
      value="10"></keyValue>
    <keyValue name="F:Config:ConsulHelperDemo:esgrpc:grpc:ClientTimeout"
      value="5000"></keyValue>

    <!--esthrift-->
    <keyValue name="F:Config:ConsulHelperDemo:esthrift:thrift:MaxActive"
          value="100"></keyValue>
    <keyValue name="F:Config:ConsulHelperDemo:esthrift:thrift:MinIdle"
      value="2"></keyValue>
    <keyValue name="F:Config:ConsulHelperDemo:esthrift:thrift:MaxIdle"
      value="10"></keyValue>
    <keyValue name="F:Config:ConsulHelperDemo:esthrift:thrift:ClientTimeout"
      value="5000"></keyValue>
    
    <!--kibanahttp-->
    <keyValue name="F:Config:ConsulHelperDemo:kibana:http:Protocol"
          value="http://"></keyValue>
    <keyValue name="F:Config:ConsulHelperDemo:kibana:http:Auth"
      value=""></keyValue>
    <keyValue name="F:Config:ConsulHelperDemo:kibana:http:MaxActive"
      value="100"></keyValue>
    <keyValue name="F:Config:ConsulHelperDemo:kibana:http:MinIdle"
      value="2"></keyValue>
    <keyValue name="F:Config:ConsulHelperDemo:kibana:http:MaxIdle"
      value="10"></keyValue>
    <keyValue name="F:Config:ConsulHelperDemo:kibana:http:ClientTimeout"
      value="5000"></keyValue>

    <!--wcfdemo-->
    <keyValue name="F:Config:ConsulHelperDemo:wcfdemo:wcf:Protocol"
          value="http://"></keyValue>
    <keyValue name="F:Config:ConsulHelperDemo:wcfdemo:wcf:ServicePath"
      value="/DemoService.svc"></keyValue>
    <keyValue name="F:Config:ConsulHelperDemo:wcfdemo:wcf:ChanelType"
      value="IDemoService,ConsulHelperDemo"></keyValue>
    <keyValue name="F:Config:ConsulHelperDemo:wcfdemo:wcf:MaxActive"
      value="100"></keyValue>
    <keyValue name="F:Config:ConsulHelperDemo:wcfdemo:wcf:MinIdle"
      value="2"></keyValue>
    <keyValue name="F:Config:ConsulHelperDemo:wcfdemo:wcf:MaxIdle"
      value="10"></keyValue>
    <keyValue name="F:Config:ConsulHelperDemo:wcfdemo:wcf:ClientTimeout"
      value="5000"></keyValue>
    
  </keyvalues>
</consulplugin>