<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="consulplugin" type="BitAuto.Ucar.Utils.Common.Consul.Config.ConsulConfigSection,ConsulHelper"/>
  </configSections>
  <consulplugin configSource="Config\consulplugin.config"/>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ILocalCacheService" maxConnections="70">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
    <endpoint address="net.tcp://localhost:8734/LocalCacheService/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILocalCacheService" contract="ILocalCacheService" name="localCache"/>
    </client>
  </system.serviceModel>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
