<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="consulplugin" type="BitAuto.Ucar.Utils.Common.Consul.Config.ConsulConfigSection,ConsulHelper"/>
  </configSections>
  <consulplugin configSource="Config\consulplugin.config"/>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDemoService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://wcfdemo/DemoService.svc"
         binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDemoService"
         contract="IDemoService" name="wcfdemo" />
    </client>
  </system.serviceModel>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
